<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="stylesheet" href="../../css/hw11.css" />
    <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
  </head>
  <body>
    
<div class="search-bar">
  <form class="search-form" id="search-form">
    <input class="search-bar-input" type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
    <button class="search-bar-btn">
      <p>Search</p>
    </button>
  </form>
</div>

<div class="gallery"></div>

<button class="load-more-btn">Load more</button>

<script type="module" src="../../js/hw11/search-images.js"></script>
    
  </body>
</html>

